.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.vscode
.astro
tests
packages.txt
.dockerignore
include/transform_dbt/dbt_venv
dags/.airflowignore
include/logs
env/
credentials.json
email_list.xlsx
